@{
    ViewBag.Title = "Toures Balon";

    var campaigns = (ViewData["campaigns"] as List<B2C.Entities.Campaign>);

}

@section campaign
{
    <div id="features-wrapper">
        <div class="container">
            <div class="header">Campa&ntilde;as</div>
            <div class="row">
                @foreach (var item in campaigns)
                {
                    @RenderPage("~/Views/Product/Campaign.cshtml", new { @name = item.Name, @image = item.Image_ref, @id = item.Id })
                }
            </div>
        </div>
    </div>
}

@section content
{
}
