@{
    Layout = "~/Views/Layout/interna.cshtml";
    ViewBag.Title = "Producto";

    var products = (ViewData["products"] as List<B2C.Entities.Product>);
}

@section content
{
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                @foreach (var item in products)
                {
                    @RenderPage("~/Views/Producto/ProductoSmall.cshtml", new { @name = item.Name, @id = item.Id, description = item.Description, image = item.Image })
                }
            </div>
        </div>
    </div>
}
