@{
    Layout = "~/Views/Layout/interna.cshtml";
    ViewBag.Title = "Compras";

    var products = (ViewData["products"] as List<B2C.Entities.ProductCart>);
    double cost = 0;
}

@section content
{
    <div class="container">
        <div class="bigcart"></div>
        <h1 class="header">Tu carrito de compras</h1>


        <div class="container_cart">
        @foreach (var item in products)
        {
            @RenderPage("~/Views/ShoppingCart/Item.cshtml", new { @id = item.Id, @name = item.Name, @account = item.Account, @cost = item.Cost, pos = item.Pos, delete = String.Concat(item.Id, "_", item.Pos) })
            cost = cost + item.Cost;
        }
        </div>
        
        <div class="total">
            <span class="title">Total: </span> @cost
        </div>
        <div class="clear center-block">
            <a id="proccess_button" href="#" class="buy button icon fa - file - text - o">Procesar Orden</a>
        </div>

    </div>


    
    <div id="form_proccess" style="display:none;">
        @RenderPage("~/Views/ShoppingCart/CreditCard.cshtml")
    </div>
}
