<div class="overlay DispNone">
</div>

<div class="lightbox_big DispNone">
    <span class="icon-close pointer PosAbsolute Fright Fs50 DispTableCell close_lightbox_big White" id="close_lightbox_big"></span>
    <p class="Wid100 Opac100 BlueBack FontBold Fs20 White TexAlCenter">Detalle de Orden</p>
    <div id="order_detail"></div>
</div>
