
@{
    Layout = "~/Views/Layout/interna.cshtml";
    ViewBag.Title = "Ordenes";

    var orders = (ViewData["orders"] as List<B2C.Entities.Order>);


}

@section content
{
    @RenderPage("~/Views/Order/Detail.cshtml");

    <div class="Container80 MarAuto Fnone">

        <h1 class="BigTopic">Tus Ordenes</h1>

        <div class="ui-datagrid-content ui-grid ui-grid-responsive MarTop40">
             <div class="MarTop20 Wid100">
             @foreach (var item in orders)
             {
                 @RenderPage("~/Views/Order/OrderSmall.cshtml", new { @price = item.Price, @id = item.Id, comments = item.Comments, status = item.statusShow() })
             }
             </div>
        </div>
  </div>
}




