@{
    var items = (ViewData["items"] as List<B2C.Entities.ItemOrder>);
}

<div class="Wid90 PadWithBorder10">
    @foreach (var it in items)
    {
        <div class="Wid30 Responsive100 Fleft MarTop20 MarRight20">
            <div class="ui-panel ui-widget ui-corner-all">
                <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
                    <span class="ui-panel-title title FontBold Fs24">
                        @it.ProductName
                    </span>
                </div>
            </div>
            <p class="Fs22 PadWithBorder5"><span class="Bold">Precio: </span>@it.Price</p>
            <p class="Fs22 PadWithBorder5"><span class="Bold">Cantidad: </span>@it.Quantity</p>
            <div class="button_right">
                    @Html.ActionLink("Ver producto", "detail", "product", new { @id = it.Id }, new { @class = "ui-button-text-icon-left  Fs18 White RaisedButton FloatNoneOnMobile TexAlCenter Fleft pointer Wid100 PadWithBorder5 BlueBack White" })
            </div>
        </div>
    }
</div>
