<div class="product_small">
    <p class="title">Orden #@Page.id</p>
    <p>Comentarios: @Page.comments</p>
    <p>Estado: @Page.status</p>
    <p>Precio: @Page.price</p>

    <input type="button" value="Ver mas" id="or_@Page.id" class="button icon fa - file - text - o get_order full-width" />
</div>



