<p id="name_product"></p>
<p>
   <span class="title">Precio: </span>
   <span id="cost_product"></span>
</p>

<input id="account" name="account" type="number" />
@Html.ActionLink("Comprar", "#", new { }, new { @class = "button icon fa - file - text - o", @id = "buyproduct"})
