<li style="width: 500px; height: 313px; display: none;" class="ui-galleria-panel ui-helper-hidden">
    <img id="j_idt34" src="@Page.image" title="@Page.name">
</li>
<!--<a href="Url.Action("detail", "product", new { id = Page.id })-->
    