<div class="4u 12u(medium)">



    <!-- Box -->
    <section class="box feature">
        <a href="@Url.Action("detail", "product", new { @id = Page.id })" >
            <img src='@Page.image' width='384' height='304' />
        </a>

        <div class="inner">
            <header>
                               <h2>@Page.name</h2>
                <p>Rusia 2018</p>
            </header>
            <p>Colombia Empieza su camino al mundial recibiendo en su casa a Peru</p>
        </div>
    </section>

</div>