    <div class="Wid100">
    @using (Html.BeginForm("Index", "Product", new { }, FormMethod.Get, new { }))
    {
        <div class="EmptyBox10"></div>
        <div class="Wid80 TexAlCenter">
            <i class="icon-search"></i>
            @Html.TextBox("search", "", new { @class = "ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all Wid100", placeholder = "Buscar producto", role = "textbox" })
        </div>
        <div class="EmptyBox10"></div>
        <div class="Wid90 TexAlCenter">
            @Html.DropDownList("search_by", @Page.filter_options as SelectList, new { @class = "ui-selectable ui-inputfield Wid100" })
        </div>
        <div class="EmptyBox10"></div>
        <div class="Wid90 TexAlCenter PadWithBorder10">
            <input type="submit" value="Buscar" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only Wid100" />
        </div>
        <div class="EmptyBox20"></div>
    }
</div>
