@{
    Layout = "~/Views/Layout/interna.cshtml";
    ViewBag.Title = "Producto";

    var products = (ViewData["products"] as List<B2C.Entities.Product>);
    var filter_options = ViewData["filter_options"] as SelectList;

    var total_page = (int)ViewData["total_pages"];
    var actual_page = (int)ViewData["actual_page"];
    var search = (string)ViewData["search"];
    var search_by = (string)ViewData["search_by"];

    var min = actual_page;
    var max = total_page;
    var diff = 0;

    if ((min + 10) < max)
    {
        max = min + 10;
    }
    else
    {
        diff = actual_page - total_page;
        diff = 10 - diff;
        min = actual_page - diff;
        max = total_page;
    }
}

@section content
{
    @RenderPage("~/Views/Product/Buyproduct.cshtml")

    <div class="Container80 MarAuto Fnone">
        <div class="ui-datagrid ui-widget">
            <div class="ui-datagrid-header ui-widget-header ui-corner-top">
                Productos<span>(@actual_page of @total_page)</span>

            </div>
            <div role="navigation" class="ui-paginator ui-paginator-top ui-widget-header MarRight20">
                @RenderPage("~/Views/Shared/paginator.cshtml", new { @min = min, @max = max, @action = "Index", @controller = "Product", @total_page = total_page, @actual_page = actual_page, @search = search, @search_by = search_by })
            </div> 
        </div>  
            <div class="ui-datagrid-content ui-grid ui-grid-responsive MarTop40">
                <div class="ui-grid-row" id="list_items">
                     @foreach (var item in products)
                     {
                            @RenderPage("~/Views/Product/ProductSmall.cshtml", new { @name = item.Name, @id = item.Id, description = item.Description, image = item.Image, cost = item.getCost() })
                     }
                </div>
           </div>
      </div>
}
