@{
    Layout = "~/Views/Layout/interna.cshtml";
    ViewBag.Title = "Toures Balon";
}

@section content
{
    <div id="main-wrapper">
        <div class="container">
            <div class="page_error">
                <p class="number_error">Error 500</p>
                <p class="description_error">Error interno del servidor</p>
            </div>
        </div>
    </div>
}
