<div id="overlay_message" class="DispNone">
</div>

<div id="lightbox_message"  class="DispNone Responsive100">
    <span class="icon-close pointer PosAbsolute Fright Fs50 DispTableCell close_lightbox Wid90 White" id="close_message"></span>
    <p class="Wid100 BlueBack FontBold Fs30 White MarTop0 TexAlCenter" id="title_alert">NOMBRE DEL PRODUCTO</p>
    
    <p class="Fs30 FontRobotoLight PadWithBorder10 MarAuto MarTop30 TexAlCenter" >
        <i class="icon-info"></i>
        <span  id="message_alert"></span>
    </p>

</div>
