<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="7u 12u(medium) title_banner">
                <h2>Toures Balon</h2>
            </div>
            <div class="5u 12u(medium) links">
                <ul>
                    <li><a href="#" class="button big icon fa-arrow-circle-right">Arma tu plan</a></li>
                    <li>@Html.ActionLink("Tus Ordenes", "Index", "Order", new { }, new { @class = "button big icon fa-arrow-circle-right" })</li>
                </ul>
            </div>
        </div>
    </div>
</div>