<!-- Banner -->
<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="7u 12u(medium)">
                <h2>Toures Balon</h2>
                <p>Agencia de viajes</p>
            </div>
            <div class="5u 12u(medium)">
                <ul>
                    <li><a href="#" class="button big icon fa-arrow-circle-right">Arma tu plan</a></li>
                    <li>@Html.ActionLink("Tus Ordenes", "Index", "Order", new { }, new { @class = "button alt big icon fa-question-circle" })</li>
                </ul>
            </div>
        </div>
    </div>
</div>