<div id="features-wrapper">
    <div class="container">
        <div class="title">Campa&ntilde;as</div>
        <div class="row">
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="~/Resources/images/pic01.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Debut en Barranquilla</h2>
                            <p>Rusia 2018</p>
                        </header>
                        <p>Colombia Empieza su camino al mundial recibiendo en su casa a Peru</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="~/Resources/images/pic02.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Empieza la champions</h2>
                            <p>Champios 2015</p>
                        </header>
                        <p>Los favoritos empiezan su camino hacia san siro donde se disputara la final de esta version.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="~/Resources/images/pic03.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Copa sudamericana</h2>
                            <p>Copa sudamericana</p>
                        </header>
                        <p>Arranca una nueva edicion de la copa sudamericana donde River Plate de Argentina defiende su titulo.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
