<div class="EmptyBox50"></div>
<div class="Wid100 ClearBoth MarTop30">
    <h3 class="TexAlCenter">Contactanos</h3>

    <div class="MarAuto TexAlCenter PadWithBorder10">
        <a href="http://facebook.com" target="_blank" class="Fs50">
            <i class="fa fa-fw"></i>
        </a>
        <a href="http://twitter.com" target="_blank" class="Fs50">
            <i class="fa fa-twitter "></i>
        </a>
        <a href="http://instagram.com" target="_blank" class="Fs50">
            <i class="fa fa-instagram "></i>
        </a>
    </div>
   
    <div class="Container100 TexAlCenter">

        <p class="info_contact">
            Calle 93 #19-56<br />
            Bogota, Colombia<br />
            (800) 555-0000
        </p>
    </div>
    
    <div class="Container100">
        <div class="ContainerIndent TexAlCenter Fs14 BoldGray">
            <a href="http://www.javeriana.edu.co/home">Pontificia Universidad Javeriana</a>  |  Todos los derechos reservados.
        </div>
    </div>

