<div id="footer-wrapper">
    <footer id="footer" class="container">
            <div class="3u 6u$(medium) 12u$(small)">

                <!-- Contact -->
                <section class="footer">
                    <h3>Contactanos</h3>
                    <ul class="social_media">
                        <li><a href="#"><img src="~/Resources/images/twitter.png" width="40" height="40"/></a></li>
                        <li><a href="#"><img src="~/Resources/images/facebook.png" width="40" height="40" /></a></li>
                        <li><a href="#"><img src="~/Resources/images/instagram.png" width="40" height="40" /></a></li>
                    </ul>
                    <p class="info_contact">
                        Calle 93 #19-56<br />
                        Bogota, Colombia<br />
                        (800) 555-0000
                    </p>
                </section>

            </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>Todos los derechos reservados</li>
                        <li>Design: <a href="http://www.javeriana.edu.co/home">Pontificia Universidad Javeriana</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

