@{
    var filter_options = B2C.Entities.Product.FILTER_OPTIONS as SelectList;
    var total_car = B2C.Handlers.HandlerSession.getTotalRealOrder();
}

<div id="layout-topbar">
    <a id="mobile-menu-button">
        <span class="ButtonLine" id="ButtonLine1"></span>
        <span class="ButtonLine" id="ButtonLine2"></span>
        <span class="ButtonLine" id="ButtonLine3"></span>
    </a>
    <a href="#" id="logo">
        <img src="~/Resources/modena-layout/images/logo.png" class="Fleft">
    </a>

    <a id="show-top-menu" class="ShowOnMobile ripplelink"><i class="icon-more_vert" id="active"></i><i class="icon-close DispNone" id="passive"></i> </a>

    <ul id="top-menu">
        <li>
            <a class="ripplelink"><i class="icon-search"></i> <span class="ShowOnMobile">Search Here</span></a>
            <ul style="min-width:250px;">
                <li>
                    @RenderPage("~/Views/Product/Filter.cshtml", new { filter_options = filter_options })
                </li>
            </ul>
        </li>
        <li>
            <a class="DispInlBlock Fright BoldGray HoverEffect" href="@Url.Action("Show","ShoppingCart")"><i class="icon-shopping_cart Fs30">
                <span class="CartText White">@total_car</span></i> 
            </a>
        </li>
        @if (ViewBag.userID != 0)
        { 
            <li>
                <a class="ripplelink"><i class="icon-power"></i> <span class="ShowOnMobile">System</span></a>
                <ul>
                    <li><a href="@Url.Action("Logout","Security")"><span class="Red"><i class="icon-vpn_key Fs30 DispBlock"></i> Logout</span></a></li>
                </ul>
            </li>
        }
    </ul>
</div>